
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BYMessagingApp™ - 403 Erişim Yetkiniz Yok</title>
    <link rel="stylesheet" href="~/403-forbidden/dist/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="lock"></div>
    <div class="message">
        <h1>YETKİSİZ ERİŞİM - 403</h1>
        <small style="font-size:medium">Bu sayfaya erişim yetkiniz bulunmamaktadır :)</small>
    </div>
    <!-- partial -->

</body>
</html>
