
@{
    ViewData["Title"] = "ListUser";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h3 class="alert alert-primary">Ajax Ürün İşlemleri</h3>
<button id="btnlist" class="btn btn-outline-primary">Ürün Listele</button>
<button id="btncreate" class="btn btn-outline-info">Ürün Ekle</button>
<button id="btndelete" class="btn btn-outline-danger">Ürün Sil</button>
<button id="btnupdate" class="btn btn-outline-success">Ürün Güncelle</button>
<button id="btnget" class="btn btn-outline-warning">Ürün Getir</button>
<hr />
<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">YENİ KULLANICI</button>
<div id="#Modal1" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>DENEME</h2>
            </div>
        </div>
    </div>

</div>

<hr />
<div class="alert alert-dark">Ürün Listesi</div>
<div id="productlist">
</div>
<script>
    $("#btnlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Login/ListUser2/",
            success: function (func1) {
                let products = jQuery.parseJSON(func1);
                console.log(products);

                let tablehtml = "<table class=table table-bordered table-hover>"
                    + "<tr>"
                    + "<th>Ürün Id</th>"
                    + "<th>Ürün Adı</th>"
                    + "<th>Ürün Stok</th>"
                    + "<th>Ürün Fiyat</th>"
                    + "</tr>"
                $.each(products, (index, value) => {
                    tablehtml += `<tr>`
                        + `<td>${value.Id}</td>`
                        + `<td>${value.Name}</td>`
                        + `<td>${value.Surname}</td>`
                        + `<td>${value.Profession}</td>`
                        + `</tr>`
                });
                tablehtml += "</table>";
                $("#productlist").html(tablehtml);
            }
        });
    });
</script>